{% include base_path %}
<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/apple-touch-icon.png?v=m2lJYJayyQ">
<link rel="icon" type="image/png" href="{{ base_path }}/favicon-32x32.png?v=m2lJYJayyQ" sizes="32x32">
<link rel="icon" type="image/png" href="{{ base_path }}/favicon-16x16.png?v=m2lJYJayyQ" sizes="16x16">
<link rel="manifest" href="{{ base_path }}/manifest.json?v=m2lJYJayyQ">
<link rel="mask-icon" href="{{ base_path }}/safari-pinned-tab.svg?v=m2lJYJayyQ" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->
